<app-modal (closeEventEmitter)="handleCloseEvent()"  title="Unlock Note" modalid="password-modal">
  <div *ngIf="isError" class=" p-2 w-100 text-bg-danger  align-items-center text-white d-flex justify-content-center">
    <p class="p-0 m-0">{{errorMessage}}</p>
  </div>
  <form (ngSubmit)="enterNote(myForm)" #myForm="ngForm" ngForm class="d-flex py-3 px-1 justify-content-center align-items-center flex-column">
   <div class="w-75">
     <input
       ngModel
       #password="ngModel"
       [ngClass]="{'error-input': password.errors && password.touched }"
       class="form-control" type="password" id="password" placeholder="Enter password" required  name="password" >
     <label for="password">Password</label>
   </div>

    <div class="w-75 d-flex justify-content-end">
      <button type="submit" class="btn text-dark text-center" (click)="closeModal()"  >Cancel</button>
      <button type="submit" class="btn text-white text-center ms-3"  style="background: darksalmon"  >Submit</button>

    </div>
  </form>
</app-modal>
