.nav-item > .active   {
  color: #2A2F4F;
  background-color: #2A2F4F;
}
.nav-item > a:hover {
  color: #2A2F4F;
}
input{
  outline:none;
}
.my-filter{
  box-shadow: 5px 5px 10px #2A2F4F;
  border-radius: 10px;
}
