<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-content container note-has-grid my-4">
  <div class="tab-content ">
    <ng-container *ngIf="(appState$ | async) as appState">
      <div id="note-full-container" class="note-has-grid  row w-100">

        <ng-container *ngIf="appState.appData?.data?.notes!=undefined">
          <div *ngFor="let note of appState.appData?.data?.notes"
               class="col-md-4 single-note-item all-category note-important  col-4" style="">
            <div  class="card card-body m-3" style="background: aliceblue">
              <span class="side-stick"></span>
              <h5 class="note-title text-truncate w-75 mb-0" data-noteheading="Go for lunch">{{note.title}} <i
                class="point fa fa-circle ml-1 font-10"></i></h5>
              <p class="note-date font-12 text-muted">{{note.createdAt | date}}</p>
              <div class="note-content">
                <p class="note-inner-content text-muted"
                   data-notecontent="Blandit tempus porttitor aasfs. Integer posuere erat a ante venenatis.">{{note.description | longText}}</p>
              </div>
              <div class="d-flex align-items-center">
                <span class="mr-1"><i class="fa fa-star favourite-note"></i></span>
                <span class="mr-1"><i class="fa fa-trash remove-note" (click)="deleteNote(note.id)"></i></span>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>


</div>
