<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="page-content container note-has-grid">
 <div class="d-flex   align-items-center justify-content-center">

 </div>
  <div class="tab-content ">



    <ng-container *ngIf="(appState$ | async) as appState">
      <div *ngIf="appState.appData?.data.notes.length==0" class="d-flex justify-content-center">
        <img src="assets/images/no_data.png" width="500px">
      </div>
      <div id="note-full-container" class="note-has-grid  row w-100">

        <ng-container *ngIf="appState.appData?.data?.notes!=undefined">
          <div *ngFor="let note of appState.appData?.data?.notes"
               class="col-md-4 single-note-item all-category note-important  col-4" style="">

            <app-note (click)="noteClicked=note.id" [note]="note"></app-note>

          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>
  <app-password-modal  [noteId]="noteClicked"></app-password-modal>


</div>
